---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Landign in Astro.">
	<main>
		<Card 	
			title="Themes"
			href="/blog"
			body="Explore a galaxy of community-built starter themes."
			target="_parent"
		/>
	</main>
</Layout>

<style>
	
</style>
