---
interface Props {
	title: string;
	href: string;
}

const { href, title} = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
	</a>
</li>
<style>
	.link-card{
		width: 25rem;
		
		margin: auto;
		padding: 2rem;

		border-radius: 14px;
		outline: thick double #ffffff;
		
		background: #ffffffde;
		backdrop-filter: blur(1px);

		list-style: none;
	}
</style>
