---
interface Props {
	key?: number;
	title: string;
	body: string;
	href?: string;
	target?: "_blank" | "_parent"
}

const { href, title, body, target } = Astro.props;
---

<li class="link-card">
	<a href={href} target={target}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
		
		<slot />
	</a>
</li>
<style>
	.link-card{
		width: 35%;
		min-width: 15rem;
		
		margin: 3rem auto;
		padding: 2rem;

		list-style: none;

		background: var(--bg);
      	color: var(--color);
		border-radius: var(--border-rd);
      	box-shadow: 0px 3px 15px 0px #0000008a;
	}
	.link-card a:hover {
		text-decoration: underline;
	}
</style>
