---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	body{
		/* background-color: #e5d9ff;
		opacity: 0.9;
		background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5d9ff 23px ), repeating-linear-gradient( #8b91fc55, #8b91fc ); */

		background-color: #acacac;
		opacity: 0.6;
		background-image:  radial-gradient(#1e1e1e 1.4500000000000002px, transparent 1.4500000000000002px), radial-gradient(#1e1e1e 1.4500000000000002px, #acacac 1.4500000000000002px);
		background-size: 58px 58px;
		background-position: 0 0,29px 29px;
	}
</style>
